<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>{{ page.title }}</title>
    <link href="css/pygments.css" media="screen" rel="stylesheet" type="text/css">
    <link href="css/documentation.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="content" class="site">
        <div class="wikistyle">
          {{ content }}
        </div>
      </div>
    </div>
  </body>
</html>